html {
  box-sizing: border-box;
  height: 100%;
  display: grid;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body{
  margin: 0%;
  height: 100%;
  width: 100%;
}
.show-header-div {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  background-color: bisque;
}
/* nav.show-navbar {
  display: flex;
  justify-self: start;
  position: fixed;
  background: aquamarine;
  height: -webkit-fill-available;
}
main.main-show {
  display: grid;
  justify-content: start;
  margin-left: 95px;
  margin-top: 95px;
} */