/*  
main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 10rem;
  height: 100%;
  flex-wrap: wrap;
  max-width: 100vw;
}

main.show {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 10rem;
  height: 100%;
  flex-wrap: wrap;
  max-width: 100vw;
}
main.index {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 10rem;
  height: 100%;
  flex-wrap: wrap;
  max-width: 100vw;
}

h1 {
  font-size: 3.6rem;
}

.section-1{
  width: 50%;
  height: 100vw;
  background-color: darkorchid;
  box-shadow: 5px 5px 15px blueviolet;
  margin-top: 9rem;
  max-width: 400px;
  max-height: 300px;
  border-radius: 5px;
}
.index-section-1{
  height: 100vw;
  margin-top: 9rem;
  max-height: 300px;
  border-radius: 5px;
  width: 700px;
  
} */
/* .section-2{
  width: 50%;
  height: 100vw; 
  margin-left: 5px;
  margin-top: 9rem;
  max-width: 700px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px blueviolet;
}

.post-box{
  width: 100%;
  height: 75px;
  word-break: break-word;
}
.index-post-box{
  width: 100%;
  height: 75px;
  word-break: break-word;
}
.post-box li{
  font-size: 2.5rem;
  list-style: none;
  margin: 2px;
  display: grid;
  justify-content: space-between;
  justify-items: end;
  align-items: end;
  grid-template-areas: "img p .. ..  button"
                       "img .. a .. form";
  grid-template-columns: auto 42px 1fr 30px 30px;
  grid-template-rows: max-content;
  box-shadow: 5px 5px 15px blueviolet;
}
.index-li{
  font-size: 2.5rem;
  list-style: none;
  margin: 2px;
  display: grid;
  justify-content: space-between;
  justify-items: end;
  align-items: end;
  grid-template-areas: "img p .. ..  button"
                       "img .. a .. form";
  grid-template-columns: auto 42px 1fr 30px 30px;
  grid-template-rows: max-content;
  box-shadow: 5px 5px 15px blueviolet;
  border-radius: 10px;
}
.post-content{
  justify-self:normal;
  align-self: end;
  margin: 0;
} */
/* .author{
 font-size: 1rem;
 align-self: flex-start;
}

.del-form{
  align-self: flex-start;
}

.edit-post {
  height: auto;
  width: 350px;
  background: darkorchid;
  border-radius: 5px;
  box-shadow: 5px 5px 15px blueviolet;
  display: grid;
  align-content: space-around;
  justify-items: start;
  font-size: 2.5rem;
  word-break: break-word;
  overflow: auto;
  margin-top: 90px;
}

.replies-section{
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 15px blueviolet;
  flex-direction: column-reverse;
  width: 400px;
  margin-top: 100px;
}
.reply-div{
  display: flex;
  margin: 1px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px blueviolet;
}

.reply-content{
  font-size: 3rem;
  word-break: break-word;
}
p.name{
  max-width: 37px;
} */

