/*  


main.show {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 10rem;
  height: 100%;
  flex-wrap: wrap;
  max-width: 100vw;
}

.edit-post {
  height: auto;
  width: 350px;
  background: darkorchid;
  border-radius: 5px;
  box-shadow: 5px 5px 15px blueviolet;
  display: grid;
  align-content: space-around;
  justify-items: start;
  font-size: 2.5rem;
  word-break: break-word;
  overflow: auto;
  margin-top: 90px;
}

.replies-section{
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 15px blueviolet;
  flex-direction: column-reverse;
  width: 400px;
  margin-top: 100px;
}
.reply-div{
  display: flex;
  margin: 1px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px blueviolet;
}

.reply-content{
  font-size: 3rem;
  word-break: break-word;
}
p.name{
  max-width: 37px;
} */

