html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}
head{
  position: fixed;
}
.header-div{
  display: grid;
  grid-template-areas: " h1 ";
  /* position: absolute; */
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 192px;
  height: 192px;
  display: inline-block;
  background: url(/public/images/pager_favicon/android-chrome-192x192.png);
}
.navbar {
  background-color: aquamarine;
  font-size: 1.6rem;
  height: 100vh;
  width: 10rem;
  position: fixed;
}
.nav-ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-list:last-child{
  margin-top: auto;
}
body {
  background: hsla(270, 98%, 60%, 1);

  background: linear-gradient(180deg, hsla(270, 98%, 60%, 1) 33%, hsla(164, 100%, 47%, 1) 100%);
  
  background: -moz-linear-gradient(180deg, hsla(270, 98%, 60%, 1) 33%, hsla(164, 100%, 47%, 1) 100%);
  
  background: -webkit-linear-gradient(180deg, hsla(270, 98%, 60%, 1) 33%, hsla(164, 100%, 47%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9835FD", endColorstr="#00EEAD", GradientType=1 );
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 10rem;
}

h1 {
  font-size: 3.6rem;
}

.section-1{
  width: 50%;
  height: 100vh;
  background-color: aquamarine;
  margin-left: 5px;
}
.section-2{
  width: 50%;
  height: 100vh;
  background-color: aquamarine;
  margin-left: 5px;
}
.logo{
  height: 96px;
  width: 96px;
}