<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%= post.content %> 
  <form action="/posts/<%= post._id %>?_method=PUT"  method="POST" class="post-form">
    <input type="text" name="content" placeholder="update">
    <button type="submit">New Content</button>
  </form>
  <p>ytfgvj</p>
  <p>vebervub</p>
  <p>hb fhjvbe</p>
  <p>jhbfhjvbevb</p>
  <div class="curve"></div>
</body>
</html>                   